<?xml version="1.0" encoding="utf-8"?>
<configuration>  
    <system.webServer>
      <security>
        <IdentityAssertion >
             <WhiteListedProids>
                <add value="domain\user"/>
            </WhiteListedProids>
        </IdentityAssertion>
        </security>
        </system.webServer>
    </location>
</configuration>
